#transfer-success {
    background-color: #3ca933;
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;

    .header-transfer-success {
        display: flex;
        justify-content: space-between;
        padding: 21px 17px 20px 20px;

        .transfer-success-check {
            width: 20px;
            height: 14px;
            object-fit: contain;
            transform: translateY(3px);
        }

        .transfer-realized-header {
            height: 19px;
            font-size: 16px;
            @include text-style-normal;
            color: $white;
        }

        .transfer-realized-box-oval {
            font-family: LatoLatin;
            font-size: 16px;
            @include text-style-normal;
            color: $white;
            transform: translateY(-3px);

            .cross-white {
                width: 20px;
                height: 14px;
                object-fit: contain;
                margin: 7px;
            }
        }

        .transfer-realized-box-oval {
            width: 27px;
            height: 27px;
            border-radius: 50%;
            border: solid 1px rgba(255, 255, 255, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .body-transfer-success {
        .sender-reciver-row {
            .sender-col {
                .sender {
                    height: 13px;
                    font-size: 11px;
                    @include text-style-normal;
                    letter-spacing: 1.1px;
                    color: $white;
                    text-transform: uppercase;
                    margin: 0px 239px 0px 55px;
                }

                .my-account {
                    margin: 4px 91px 4px 55px;
                    font-size: 16px;
                    @include text-style-normal;
                    font-weight: 900;
                    letter-spacing: 1px;
                    color: $white;
                }

                .acc-number {
                    margin: 0px 87px 20px 55px;
                    font-size: 11px;
                    @include text-style-normal;
                    letter-spacing: 1.1px;
                    color: $white;
                }
            }

            .receiver-col {
                .recipient {
                    margin: 0px 238px 4px 55px;
                    font-size: 11px;
                    @include text-style-normal;
                    letter-spacing: 1.1px;
                    color: $white;
                    text-transform: uppercase;
                }

                .name {
                    margin: 0px 151px 4px 55px;
                    font-size: 16px;
                    @include text-style-normal;
                    font-weight: 900;
                    letter-spacing: 1px;
                    color: $white;
                }

                .account {
                    font-size: 11px;
                    @include text-style-normal;
                    letter-spacing: 1.1px;
                    color: $white;
                    margin: 0px 87px 20px 55px;
                }
            }
        }

        .amount {
            margin: 0px 259px 4px 55px;
            font-size: 11px;
            @include text-style-normal;
            letter-spacing: 1.1px;
            color: $white;
            text-transform: uppercase;
        }

        .amount-value {
            margin: 0px 184px 4px 55px;
            font-size: 16px;
            @include text-style-normal;
            font-weight: 900;
            letter-spacing: 1px;
            color: $white;
        }

        .saldo {
            margin: 0px 75px 20px 55px;
            font-size: 11px;
            @include text-style-normal;
            letter-spacing: 1.1px;
            color: $white;
            text-transform: uppercase;
        }

        .pdf-confirmation {
            margin: 0px 121px 21px 54px;
            width: 186px;
            height: 30px;
            border-radius: 4px;
            background-color: rgba(47, 50, 52, 0.3);
            font-size: 12px;
            @include text-style-normal;
            letter-spacing: 1.1px;
            color: $white;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }

    .pdf-confirmation-desktop {
        display: none;
    }
}

@media (min-width: $tablet-width) {
    #transfer-success {
        .header-transfer-success {
            margin-left: 0px;
            justify-content: normal;

            .transfer-realized-header {
                margin-left: 15px;
            }
            .transfer-realized-box-oval{
                position: absolute;
                right: 22px;
            }

            .body-transfer-success {
                .sender-reciver-row {
                    display: flex;
                    justify-content: space-between;
                    margin-left: 55px;

                    .sender-col {
                        .sender {
                            margin: 4px 91px 4px 0px;
                            text-transform: uppercase;
                        }

                        .my-account {
                            margin: 4px 91px 4px 0px;
                        }

                        .acc-number {
                            margin: 4px 91px 4px 0px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $desktop-width) {
    #transfer-success {
        height: 204px;

        .body-transfer-success {
            display: flex;

            .sender-reciver-row {
                display: flex;

            }
            .amount-col {
                .pdf-confirmation {
                    display: none;
                }
            }
        }

        .pdf-confirmation-desktop {
            display: flex;
            margin: 0px 121px 21px 54px;
            width: 186px;
            height: 30px;
            border-radius: 4px;
            background-color: rgba(47, 50, 52, 0.3);
            font-size: 12px;
            @include text-style-normal;
            letter-spacing: 1.1px;
            color: $white;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}

#transfer-failed {
    background-color: #ac1419;
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;

    .header-transfer-failed {
        display: flex;
        display: flex;
        justify-content: space-between;
        padding: 21px 17px 20px 20px;


        .transfer-failed-check {
            width: 20px;
            height: 14px;
            object-fit: contain;
            transform: translateY(3px);
        }

        .transfer-realized-header {
            height: 19px;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $white;
        }

        .transfer-realized-box-oval {
            font-family: LatoLatin;
            font-size: 16px;
            @include text-style-normal;
            color: $white;
            transform: translateY(-3px);

            .cross-white {
                width: 20px;
                height: 14px;
                object-fit: contain;
                margin: 7px;
            }
        }

        .transfer-realized-box-oval {
            width: 27px;
            height: 27px;
            border-radius: 50%;
            border: solid 1px rgba(255, 255, 255, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .body-transfer-failed {
        .sender-reciver-row {
            .sender-col {
                .sender {
                    height: 13px;
                    font-size: 11px;
                    @include text-style-normal;
                    letter-spacing: 1.1px;
                    color: $white;
                    text-transform: uppercase;
                    margin: 0px 239px 0px 55px;
                }

                .my-account {
                    margin: 4px 91px 4px 55px;
                    font-size: 16px;
                    @include text-style-normal;
                    font-weight: 900;
                    letter-spacing: 1px;
                    color: $white;
                }

                .acc-number {
                    margin: 0px 87px 20px 55px;
                    font-size: 11px;
                    @include text-style-normal;
                    letter-spacing: 1.1px;
                    color: $white;
                }
            }

            .receiver-col {
                .recipient {
                    margin: 0px 238px 4px 55px;
                    font-size: 11px;
                    @include text-style-normal;
                    letter-spacing: 1.1px;
                    color: $white;
                    text-transform: uppercase;
                }

                .name {
                    margin: 0px 151px 4px 55px;
                    font-size: 16px;
                    @include text-style-normal;
                    font-weight: 900;
                    letter-spacing: 1px;
                    color: $white;
                }

                .account {
                    font-size: 11px;
                    @include text-style-normal;
                    letter-spacing: 1.1px;
                    color: $white;
                    margin: 0px 87px 20px 55px;
                }
            }
        }

        .amount {
            margin: 0px 259px 4px 55px;
            font-size: 11px;
            @include text-style-normal;
            letter-spacing: 1.1px;
            color: $white;
            text-transform: uppercase;
        }

        .amount-value {
            margin: 0px 184px 4px 55px;
            font-size: 16px;
            @include text-style-normal;
            font-weight: 900;
            letter-spacing: 1px;
            color: $white;
        }

        .saldo {
            margin: 0px 75px 20px 55px;
            font-size: 11px;
            @include text-style-normal;
            letter-spacing: 1.1px;
            color: $white;
            text-transform: uppercase;
        }

        .pdf-confirmation {
            margin: 0px 121px 21px 54px;
            width: 186px;
            height: 30px;
            border-radius: 4px;
            background-color: rgba(47, 50, 52, 0.3);
            font-size: 12px;
            @include text-style-normal;
            letter-spacing: 1.1px;
            color: $white;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }

    .pdf-confirmation-desktop {
        display: none;
    }
}

@media (min-width: $tablet-width) {
    #transfer-failed {
        .header-transfer-failed {
            margin-left: 0px;
            justify-content: normal;

            .transfer-realized-header {
                margin-left: 15px;
            }
            .transfer-realized-box-oval {
                position: absolute;
                right: 22px;
            }

            .body-transfer-success {
                .sender-reciver-row {
                    display: flex;
                    justify-content: space-between;
                    margin-left: 55px;

                    .sender-col {
                        .sender {
                            margin: 4px 91px 4px 0px;
                            text-transform: uppercase;
                        }

                        .my-account {
                            margin: 4px 91px 4px 0px;
                            text-transform: uppercase;
                        }

                        .acc-number {
                            margin: 4px 91px 4px 0px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $desktop-width) {
    #transfer-failed {
        height: 204px;

        .body-transfer-failed {
            display: flex;

            .sender-reciver-row {
                display: flex;

            }
            .amount-col {
                .pdf-confirmation {
                    display: none;
                }
            }
        }

        .pdf-confirmation-desktop {
            display: flex;
            margin: 0px 121px 21px 54px;
            width: 186px;
            height: 30px;
            border-radius: 4px;
            background-color: rgba(47, 50, 52, 0.3);
            font-size: 12px;
            @include text-style-normal;
            letter-spacing: 1.1px;
            color: $white;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}

.none {
    display: none;
}

.appear {
    display: block;
}