%main-buttons {
    background-color: $brand-color;
    font-size: 12px;
    text-transform: uppercase;
    width: auto;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.14px;
}