@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

header {
  width: 100vw;
  height: 56px;
  background-color: #d71920;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo {
  margin-left: 20px;
}
header .ikona-lupa {
  position: absolute;
  right: 70px;
}
header .ikona-hamburger {
  position: absolute;
  right: 20px;
}
header .Logo-tablet,
header .settings,
header .mail,
header .user,
header .log-out,
header .user-name {
  display: none;
}

@media (min-width: 768px) {
  header {
    background-color: #ac1419;
  }
  header .logo,
  header .ikona-lupa,
  header .ikona-hamburger {
    display: none;
  }
  header .Logo-tablet,
  header .settings,
  header .mail,
  header .user,
  header .log-out {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .Logo-tablet {
    margin-left: 20px;
  }
  header .settings {
    right: 197px;
    position: absolute;
  }
  header .mail {
    right: 157px;
    position: absolute;
  }
  header .user {
    position: absolute;
    right: 121px;
  }
  header .log-out {
    position: absolute;
    right: 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
  }
}
@media (min-width: 1024px) {
  header .Logo-tablet {
    display: none;
  }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 66px;
  }
  header .settings {
    right: 420px;
  }
  header .mail {
    right: 380px;
  }
  header .user {
    right: 344px;
  }
  header .user-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.14px;
    position: absolute;
    right: 201px;
    color: #fff;
  }
  header .log-out {
    right: 66px;
  }
}
.main-nav {
  display: none;
}

@media (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    background-color: #d71920;
    height: 56px;
  }
  .main-nav .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 20px;
    list-style: none;
  }
  .main-nav .cards .card-item {
    width: 113px;
    height: 41px;
    background-color: #f4f4f4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav .cards .card-item a {
    text-transform: uppercase;
    color: #d71920;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.14px;
  }
  .main-nav .cards .card-item-2 {
    background-color: #d71920;
  }
  .main-nav .cards .card-item-2 a {
    color: #fff;
  }
  .main-nav .search-bar {
    width: 280px;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    right: 20px;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav .search-bar input.search {
    width: 150px;
    height: 22px;
    font-size: 16px;
    margin: 10px auto 11px 18px;
    color: #b4b4b4;
    letter-spacing: 0.19px;
    border: 0px;
  }
  .main-nav .search-bar input.search:placeholder {
    color: #b4b4b4;
  }
  .main-nav .search-bar .icon-search {
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 18px;
  }
}
@media (min-width: 1024px) {
  .main-nav .cards {
    margin-left: 66px;
  }
  .main-nav .search-bar {
    width: 485px;
    right: 66px;
  }
}
body main .main-section .titles-row {
  display: none;
}
body main .main-section .main-headers .main-headers-col-1 h1 {
  font-size: 10px;
  letter-spacing: 1px;
  width: 151px;
  height: 12px;
  margin: 31px auto 2px 18px;
  text-transform: uppercase;
}
body main .main-section .main-headers .main-headers-col-1 h2 {
  margin: 0px auto 2px 17px;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.29px;
  display: inline-block;
}
body main .main-section .main-headers .main-headers-col-1 img {
  width: 19.6px;
  height: 16px;
  margin-left: 14px;
}
body main .main-section .main-headers .main-headers-col-1 .count-number {
  margin: 0px auto 17px 18px;
  width: 199px;
  height: 12px;
  color: #858585;
  font-size: 10px;
  letter-spacing: 1px;
}
body main .main-section .main-headers .main-headers-col-2 h3 {
  margin: 17px auto 0px 19px;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
body main .main-section .main-headers .main-headers-col-2 .account-founds {
  margin: 0px auto 16.5px 19px;
}
body main .main-section .main-headers .main-headers-col-2 .account-founds .account {
  font-size: 18px;
  color: #2f3234;
  font-weight: 900;
}
body main .main-section .line {
  margin: 0px 20px 0px 19px;
  background-color: #dbdbdb;
  height: 1px;
  width: auto;
  display: block;
}
body main .main-section .first-line {
  margin: 0px 20px 23.5px 19px;
}
body main .main-section .main-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body main .main-section .main-buttons .new-paymant {
  margin: auto 21px 25px 20px;
  background-color: #d71920;
  color: #fff;
  border: 1px solid #d71920;
  background-color: #d71920;
  font-size: 12px;
  text-transform: uppercase;
  width: auto;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.14px;
}
body main .main-section .main-buttons .history {
  background-color: #d71920;
  font-size: 12px;
  text-transform: uppercase;
  width: auto;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.14px;
  margin: 0px 22px 24.5px 20px;
  background-color: #f4f4f4;
  color: #d71920;
  border: 1px solid #f4f4f4;
}
body main .main-section .transaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 17.5px 23.5px 14.5px 30.5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body main .main-section .transaction .date-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body main .main-section .transaction .date-box .data-arrow {
  width: 13px;
  height: 13px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0px;
}
body main .main-section .transaction .date-box .data {
  font-size: 14px;
  color: #858585;
}
body main .main-section .transaction .data-arrow-tablet {
  display: none;
}
body main .main-section .transaction .name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body main .main-section .transaction .name-box .full-name {
  font-size: 14px;
  font-weight: 900;
  color: #000000;
}
body main .main-section .transaction .name-box .subscribe-transaction {
  font-size: 12px;
  color: #858585;
}
body main .main-section .transaction .category-section {
  display: none;
}
body main .main-section .transaction .price-transation {
  font-size: 14px;
  font-weight: 900;
  color: #000;
  width: 100px;
  text-align: right;
}
body main .main-section .more {
  text-transform: uppercase;
  color: #d71920;
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
  width: 103px;
  height: 15px;
  margin: 12.5px auto 15.3px 18px;
  cursor: pointer;
}

@media (min-width: 768px) {
  body {
    background-color: #f4f4f4;
  }
  body main .main-section {
    width: auto;
    height: 500px;
    margin: 40px 20px 231.5px 20px;
    background-color: #fff;
    padding-top: 1px;
  }
  body main .main-section .titles-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 24px 0px 36px;
    margin: 0px auto 4.5px auto;
  }
  body main .main-section .titles-row div {
    color: #858585;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .12px;
  }
  body main .main-section .titles-row .type {
    -webkit-transform: translateX(-51px);
            transform: translateX(-51px);
  }
  body main .main-section .titles-row .receiver-sender {
    -webkit-transform: translateX(-101px);
            transform: translateX(-101px);
  }
  body main .main-section .titles-row .category {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  body main .main-section .main-headers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .main-section .main-headers .main-headers-col-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .main-section .main-headers .main-headers-col-1 h1 {
    margin: 21px auto 0px 22px;
    color: #2f3234;
  }
  body main .main-section .main-headers .main-headers-col-1 h2 {
    margin: 0px auto 0px 22px;
  }
  body main .main-section .main-headers .main-headers-col-1 .count-number {
    margin: 0px auto 16px 22px;
  }
  body main .main-section .main-headers .main-headers-col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .main-section .main-headers .main-headers-col-2 h2 {
    font-size: 26px;
  }
  body main .main-section .main-headers .main-headers-col-2 h3 {
    margin: 22px 20px 0px auto;
  }
  body main .main-section .main-headers .main-headers-col-2 .account-founds {
    margin-right: 22px;
  }
  body main .main-section .main-headers .main-headers-col-2 .account-founds .account {
    font-size: 25px;
  }
  body main .main-section .main-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 16px auto 24px 20px;
  }
  body main .main-section .main-buttons .new-paymant,
  body main .main-section .main-buttons .history {
    width: 210px;
    height: 50px;
  }
  body main .main-section .main-buttons .new-paymant {
    margin: 0px 21px 0px 0px;
  }
  body main .main-section .main-buttons .history {
    margin: 0px;
  }
  body main .main-section .first-line {
    display: none;
  }
  body main .main-section .transaction {
    height: 15px;
    margin: 17.5px 23.5px 23.5px 33px;
  }
  body main .main-section .transaction .date-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  body main .main-section .transaction .date-box .data-arrow {
    display: none;
  }
  body main .main-section .transaction .name-box {
    margin-top: -8px;
    height: 30px;
    -webkit-transform: translateX(-77px);
            transform: translateX(-77px);
    margin-left: 0px;
  }
  body main .main-section .transaction .name-box .subscribe-transaction {
    font-size: 12px;
  }
  body main .main-section .transaction .data-arrow-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 13px;
    height: 13px;
    -webkit-transform: translateX(-41px);
            transform: translateX(-41px);
  }
  body main .main-section .transaction .category-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    color: #3cae64;
    font-size: 10px;
    letter-spacing: .12px;
    -webkit-transform: translateX(-21px);
            transform: translateX(-21px);
  }
  body main .main-section .line {
    width: 100%;
    margin: 0px;
  }
  body main .main-section .more {
    margin: 27.5px auto 35px 32px;
  }
}
aside {
  display: none;
}

@media (min-width: 1024px) {
  body main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 40px;
    padding: 0px 66px;
  }
  body main .main-section {
    margin: 39px 0px 232.5px 0px;
    grid-column: 1 / 9;
  }
  body main aside {
    display: table-column-group;
    grid-column: 9 / -1;
  }
  body main aside .free-founds-box {
    margin: 39px 0px 41px 0px;
    height: 180px;
    background-color: #4c92e0;
    color: #fff;
  }
  body main aside .free-founds-box h4 {
    font-size: 22px;
    margin: 0px auto 17px 20px;
    padding-top: 20px;
  }
  body main aside .free-founds-box .free-founds-discription {
    font-size: 14px;
    width: auto;
    margin: 0px 72px 22px 20px;
  }
  body main aside .free-founds-box .call {
    width: 117px;
    height: 17px;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    margin: 0px 126px 26px 20px;
    text-transform: uppercase;
  }
  body main aside .analize-box {
    background-color: #fff;
    height: 385px;
  }
  body main aside .analize-box h5 {
    font-size: 16px;
    color: #000;
    letter-spacing: 0.19px;
    padding-top: 14px;
    padding-left: 20px;
    font-weight: 900;
  }
}
footer {
  width: 100vw;
  height: 330px;
  background-color: #f4f4f4;
  position: relative;
  border-top: 1px solid #979797;
}
footer .footer-links-desktop-row .footer-links-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 120px;
  margin-top: 35px;
}
footer .footer-links-desktop-row .footer-links-box .footer-link-item a {
  color: #858585;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}
footer .footer-links-desktop-row .footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 28px;
  font-size: 14px;
  height: 17px;
  color: #858585;
}
footer .footer-content {
  margin: 28px 15px 25px 15px;
  font-size: 9px;
  color: #747474;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  footer {
    height: 140px;
  }
  footer .footer-links-desktop-row .tablet-footer-line {
    width: 100%;
    height: 0.5px;
    background-color: #979797;
  }
  footer .footer-links-desktop-row .footer-links-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 28.5px 30px 15px 30px;
    height: 17px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-links-desktop-row .footer-links-box .footer-link-item:first-child {
    margin-top: 0px;
  }
  footer .footer-links-desktop-row .footer-copyright {
    margin-top: 0px;
  }
  footer .footer-content {
    margin: 15px 30px 13px 30px;
  }
}
@media (min-width: 1024px) {
  footer {
    height: 140px;
  }
  footer .footer-links-desktop-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 66px 38px 66px;
    height: 17px;
    font-size: 14px;
  }
  footer .footer-links-desktop-row .tablet-footer-line {
    display: none;
  }
  footer .footer-links-desktop-row .footer-links-box {
    margin: 0px;
    width: 630px;
  }
  footer .footer-links-desktop-row .footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-content {
    margin: 0px 100px 33px 100px;
  }
}
.none {
  display: none;
}

.appear {
  display: block;
}

.transfer-form-popup {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0px;
  background-color: #fff;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}
.transfer-form-popup #transfer-form .header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f4f4f4;
  height: 60px;
  width: 100%;
}
.transfer-form-popup #transfer-form .header-form h6 {
  font-size: 16px;
  font-weight: 900;
  height: 19px;
  margin-left: 20px;
}
.transfer-form-popup #transfer-form .header-form .close-popup-transfer-form {
  width: 18.2px;
  height: 18.2px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
}
.transfer-form-popup #transfer-form .main-section-transfer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.transfer-form-popup #transfer-form .main-section-transfer-form .select-account-box {
  width: auto;
  margin: 9px 20px 0px 20px;
  border-radius: 4px;
  border: solid 1px #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.transfer-form-popup #transfer-form .main-section-transfer-form .select-account-box .arrow-account {
  cursor: pointer;
  width: 21px;
  height: 11px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 21px 20px 19px auto;
}
.transfer-form-popup #transfer-form .main-section-transfer-form .select-account-box .main-account {
  font-size: 18px;
  font-weight: 900;
  margin: 7px auto 0px 21px;
}
.transfer-form-popup #transfer-form .main-section-transfer-form .select-account-box .amount-account {
  margin: 0px auto 8px 21px;
  font-size: 11px;
  letter-spacing: 1px;
  color: #858585;
  height: 13px;
}
.transfer-form-popup #transfer-form .main-section-transfer-form .account-number-box {
  width: auto;
  margin: 9px 20px 0px 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: solid 1px #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.transfer-form-popup #transfer-form .main-section-transfer-form .account-number-box #account-number {
  width: 100%;
  margin: 13px 21px 18px 21px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #858585;
}
.transfer-form-popup #transfer-form .main-section-transfer-form .alert-empty-account-number {
  width: auto;
  margin: 0px 20px 0px 20px;
  height: 39px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: solid 1px #ac1419;
  background-color: #ac1419;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.transfer-form-popup #transfer-form .main-section-transfer-form .alert-empty-account-number .enter-account-number {
  margin: 10px auto 11px 21px;
  height: 19px;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.transfer-form-popup #transfer-form .main-section-transfer-form .transfer-amount-box {
  width: auto;
  margin: 9px 20px 0px 20px;
  border-radius: 4px;
  border: solid 1px #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.transfer-form-popup #transfer-form .main-section-transfer-form .transfer-amount-box #transfer-amount {
  width: 73px;
  margin: 13px auto 18px 21px;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: normal;
  color: #2f3234;
  border: 0px;
}
.transfer-form-popup #transfer-form .main-section-transfer-form .transfer-amount-box .currency-transfer-amount {
  margin: 13px 21px 18px auto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.transfer-form-popup #transfer-form .main-section-transfer-form .address-recipient-box {
  width: auto;
  margin: 9px 20px 0px 20px;
  border-radius: 4px;
  border: solid 1px #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.transfer-form-popup #transfer-form .main-section-transfer-form .address-recipient-box #address-recipient {
  width: 164px;
  height: 19px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #858585;
  border: 0px;
  margin: 13px auto 18px 21px;
}
.transfer-form-popup #transfer-form .main-section-transfer-form .title-transfer-box {
  width: auto;
  margin: 9px 20px 0px 20px;
  border-radius: 4px;
  border: solid 1px #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.transfer-form-popup #transfer-form .main-section-transfer-form .title-transfer-box #title-transfer {
  height: 19px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #858585;
  margin: 13px auto 18px 21px;
}
.transfer-form-popup #transfer-form .main-section-transfer-form label {
  text-transform: uppercase;
  -webkit-text-stroke: 1px #979797;
  font-size: 11px;
  letter-spacing: 1.1px;
  color: #2f3234;
  margin: 30px auto 9px 20px;
}
.transfer-form-popup #transfer-form .save-order-box {
  margin: 30px 20px 15px 20px;
  width: auto;
}
.transfer-form-popup #transfer-form .save-order-box label[for=save-order] {
  margin-left: 20px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2f3234;
}
.transfer-form-popup #transfer-form .order-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 19px auto 201px 20px;
}
.transfer-form-popup #transfer-form .order-name-container label[for=order-name] {
  text-transform: uppercase;
  -webkit-text-stroke: 1px #979797;
  font-size: 11px;
  letter-spacing: 1.1px;
  color: #2f3234;
}
.transfer-form-popup #transfer-form .order-name-container .order-name-box {
  width: auto;
  margin: 9px 20px 0px 0px;
  border-radius: 4px;
  border: solid 1px #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.transfer-form-popup #transfer-form .order-name-container #order-name {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #858585;
  margin: 13px auto 18px 21px;
}
.transfer-form-popup #transfer-form .next-button-box {
  cursor: pointer;
  width: 104px;
  height: 89px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #d71920;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}
.transfer-form-popup #transfer-form .next-button-box .next-arrow {
  width: 19.6px;
  height: 16px;
  color: #fff;
  margin: 27px 40px 5px 44px;
}
.transfer-form-popup #transfer-form .next-button-box .next {
  text-transform: uppercase;
  margin: 0px 27px 25px 33px;
  width: 44px;
  height: 16px;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #fff;
}

.alert-display {
  visibility: visible;
}

.alert-hidden {
  visibility: hidden;
}
